<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Delete Warning</title>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="h1"><h1>Delete User</h1></div>
		<form action="#" th:action="@{/api/student/{id}(id=${student.id})}" method="POST">
			<div class="form-group">		
				<div class="h3"><h3 th:inline="text">Are you sure want to delete [[${student.firstName}]]?</h3></div>
				<a type="button" class="btn btn-info" th:href="@{/home}">No</a>
				<input name="_method" type="hidden" value="DELETE"></input>
		    	<input type="submit" class="btn btn-danger" value="Yes"></input>
	    	</div>
		</form>
	</div>
</body>
</html>