<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Edit Student</title>
</head>
<body>
  <h1>Update Student</h1>
  <form action="#" th:action="@{/api/student/{id}(id=${student.id})}" th:object="${student}" method="POST">
	   	<label for="name">Name</label>
	   	<input type="text" th:field="*{firstName}" id="name" placeholder="${student.firstName}"></input>
		<input name="_method" type="hidden" value="PUT"></input>
		<input type="submit" value="Edit Student"></input>
  </form>
</body>
</html>